<html>
  <head>
    <link rel="stylesheet" type="text/css" href="public/css/style.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
    <script>
      const socket = io();

      socket.on('reload', () => {
        window.location.reload();
      });
    </script>
  </head>
  <body style="background-image: url(static/<%= image %>); background-position: left top; background-size: cover;">
    <div class="container">
      <div class="story">
          <%- text %>
      </div>
  </div>
  </body>
</html>
