<html>
  <head>
    <link rel="stylesheet" type="text/css" href="public/css/style.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
    <script>
      const socket = io();

      socket.on('test', data => {
        console.log('socket test', data);
      });

      socket.on('reload', () => {
        window.location.reload();
      });
    </script>
  </head>
  <body style="background-image: url(static/see-screen-background.jpg); background-position: left top; background-size: cover;">
    <div class="mobile-look-container mobile-container">
      <% if (currentStep > 0){ %>
        <button data-event="back" class="back-button mobile-nav-button button" style="background-image: url(static/back-button.png); background-size: cover;">Back</button>
      <%}%>
        <button data-event="next" class="next-button mobile-nav-button button" style="background-image: url(static/next-button.png); background-size: cover;">Next</button>
    </div>
    <script>
      document.querySelectorAll('button').forEach(button => {
        const eventName = button.dataset.event;
        button.addEventListener('click', () => {
          socket.emit(eventName);
        });
      });
    </script>
  </body>
</html>
