<html>
  <head>
    <link rel="stylesheet" type="text/css" href="public/css/style.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
    <script>
      const socket = io();

      socket.on('test', data => {
        console.log('socket test', data);
      });

      socket.on('reload', () => {
        window.location.reload();
      });
    </script>
  </head>
  <body>
    <div>
      look at screen
    </div>
    <button data-event="back">Back</button>
    <button data-event="next">Next</button>

    <script>
      document.querySelectorAll('button').forEach(button => {
        const eventName = button.dataset.event;
        button.addEventListener('click', () => {
          socket.emit(eventName);
        });
      });
    </script>
  </body>
</html>
