<html>
  <head>
    <link rel="stylesheet" type="text/css" href="public/css/style.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
    <script>
      const socket = io();

      socket.on('test', data => {
        console.log('socket test', data);
      });

      socket.on('reload', () => {
        window.location.reload();
      });
    </script>
    <style>
      #waiting {
        height: 100%;
        width: 100%;
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        background: white;
      }
      #waiting.visible {
        display: block;
      }
    </style>
  </head>
  <body style="background-image: url(static/mobile-decision-background.jpg); background-position: left top; background-size: cover;">
    <div id="waiting">Wait up</div>
    <% for (let i = 0; i < choices.length; i++) { %>
      <input class="radio" type="radio" id="radio-<%= i %>" name="radio">
      <label for="radio-<%= i %>" class="radio-label"><%= choices[i] %></label>
    <% } %>
    <button id="submit">submit</button>

    <script>
      const button = document.getElementById('submit');
      const radios = Array.from(document.querySelectorAll('.radio'));

      button.addEventListener('click', () => {
        const value = radios.findIndex(el => el.checked);
        socket.emit('choice', value);
        document.getElementById('waiting').classList.add('visible');
      });
    </script>
  </body>
</html>
