<html>
  <head>
    <link rel="stylesheet" type="text/css" href="public/css/style.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
    <script>
      const socket = io();

      socket.on('reload', () => {
        window.location.reload();
      });
    </script>
  </head>
  <body>
    <div class="mobile-waiting-container mobile-container">
      <h1 class="mobile-waiting">Waiting for other players...</h1>
      <button id="start" class="mobile-waiting-button button body-text" style="background-image: url(static/next-button.png); background-size: contain;">Start</button>
    </div>
    <script>
      const button = document.getElementById('start');
      button.addEventListener('click', () => {
        socket.emit('start');
      });
    </script>
  </body>
</html>
