<html>
  <head>
      <link rel="stylesheet" type="text/css" href="public/css/style.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
    <script>
      const socket = io();

      socket.on('reload', () => {
        window.location.reload();
      });
    </script>
  </head>
  <body style="background-image: url(static/mobile-results-background.jpg); background-position: left top; background-size: cover;">
      <div class="mobile-results-container mobile-container">
        <div id="modal" class="modal">
          <button class="exit-modal button" id="exit-modal" style="float: right;"><img src="static/exit-modal.png" style="height: 80px;"></button>
          <h1>Adjudicate</h1>
          <p class="body-text adjudicator-explainer">This will select the choice for you. If you can’t decide on a path forward, you can choose to call on an “ajudicator” to mediate. <br><br> Like all decisions, it’s non-reversible.</p>
        </div>
          <button id="back" class="back-button mobile-results-back button">Back</button>
          <button id="adjudicate" class="adjudicate-button button body-text">Adjudicate</button>
          <button id="what" class="button whats-this body-text">What's this<img src="static/whats-this.png" style="height: 80px;"></button>
      </div>
  </body>
  <script>
    let open = false;
    const button = document.getElementById('back');
    button.addEventListener('click', () => {
      socket.emit('back');
    });

    const adjudicate = document.getElementById('adjudicate');
    adjudicate.addEventListener('click', () => {
      socket.emit('adjudicate');
    });

    const exitModal = document.getElementById('exit-modal');
    exitModal.addEventListener('click', () => {
      console.log("exit")
      document.getElementById('modal').classList.remove('visible');
    });

    const what = document.getElementById('what');
    what.addEventListener('click', () => {
      if(open == false){
      document.getElementById('modal').classList.add('visible');
      // document.getElementById('background-overlay').classList.add('visible');
      open = true; 
      }
      else{
      document.getElementById('modal').classList.remove('visible');
      // document.getElementById('background-overlay').classList.remove('visible');
      open = false;
      }
    });

  </script>
</html>
