<html>
  <head>
    <link rel="stylesheet" type="text/css" href="public/css/style.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
    <script>
      const socket = io();

      socket.on('test', data => {
        console.log('socket test', data);
      });

      socket.on('reload', () => {
        window.location.reload();
      });
    </script>
    <style>
      #waiting {
        height: 100%;
        width: 100%;
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        /* background-image: url(static/mobile-decision-background.jpg); */
        background-color: #e9f6ff;
      }
      #waiting.visible {
        display: block;
      }
    </style>
  </head>
  <!-- most of the javascript on this page was done by the developer but I added some. I did all of the HTML & CSS -->
  <body style="background-image: url(static/mobile-decision-background.jpg); background-size: contain; overflow: none; background-repeat: no-repeat;">
    <div class="mobile-container mobile-decision-container">
        <!-- <div id="modal" class="modal">
            <button class="exit-modal button" id="exit-modal" style="float: right;"><img src="static/exit-modal.png" style="height: 80px;"></button>
            <h1>Adjudicate</h1>
            <p class="body-text adjudicator-explainer">This will select the choice for you. If you can’t decide on a path forward, you can choose to call on an “ajudicator” to mediate. <br><br> Like all decisions, it’s non-reversible.</p>
          </div> -->
      <div id="waiting" class="waiting">
        <div class="waiting-container">
          <div class="logo-background"></div>
          <h1 class="mobile-waiting">Waiting for other players...</h1>
        </div>
      </div>
      <div class="radio-div">
        <% for (let i = 0; i < choices.length; i++) { %>
          <div style="display: flex;">
            <input class="radio" type="radio" id="radio-<%= i %>" name="radio">
            <label for="radio-<%= i %>" class="radio-label"><%= choices[i] %></label>
          </div>
        <% } %>
      </div>
      <!-- <button id="adjudicate" class="adjudicate-button button body-text">Randomize</button>
      <button id="what" class="button whats-this body-text">What's this<img src="static/whats-this.png" style="height: 80px;"></button> -->
      <button disabled id="submit" class="decision-submit button">Submit</button>
      <!-- disabled means clicking on the button won't do anything, but can add css to it (button:disabled{background image}) -->
    </div>
    <script>
      let open = false;
      const button = document.getElementById('submit');
      const radios = Array.from(document.querySelectorAll('.radio'));

      radios.forEach(radio => {
        radio.addEventListener('change', () => {
          button.removeAttribute('disabled');
        });
        // for every radio add event listener for change event not click
      });

      button.addEventListener('click', () => {
        const value = radios.findIndex(el => el.checked);
        socket.emit('choiceGoTo', value);
        document.getElementById('waiting').classList.add('visible');
      });

      // I created all of the following javascript to open and close a modal window 

      const exitModal = document.getElementById('exit-modal');
      exitModal.addEventListener('click', () => {
      console.log("exit")
      document.getElementById('modal').classList.remove('visible');
    });

    const what = document.getElementById('what');
    what.addEventListener('click', () => {
      if(open == false){
      document.getElementById('modal').classList.add('visible');
      // document.getElementById('background-overlay').classList.add('visible');
      open = true; 
      }
      else{
      document.getElementById('modal').classList.remove('visible');
      // document.getElementById('background-overlay').classList.remove('visible');
      open = false;
      }
    });
    </script>
  </body>
</html>
