<html>
  <head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
    <script>
      const socket = io();

      socket.on('test', data => {
        console.log('socket test', data);
      });

      socket.on('reload', () => {
        window.location.reload();
      });
    </script>
  </head>
  <body>
    <div>
      What should we do
    </div>
    <input type="radio" id="radio-1" name="radio">
    <label for="radio-1">Choice 1</label>
    <input type="radio" id="radio-2" name="radio">
    <label for="radio-2">Choice 2</label>
    <input type="radio" id="radio-3" name="radio">
    <label for="radio-3">Choice 3</label>
    <button id="submit">submit</button>

    <script>
      const button = document.getElementById('submit');

      const radios = [1, 2, 3].map(i => document.getElementById(`radio-${i}`));
      button.addEventListener('click', () => {
        const value = radios.findIndex(el => el.checked);
        socket.emit('choice', value);
      });
    </script>
  </body>
</html>
