<html>
  <head>
      <link rel="stylesheet" type="text/css" href="public/css/style.css" />
      <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
      <script>
        const socket = io();

        socket.on('test', data => {
          console.log('socket test', data);
        });

        socket.on('reload', () => {
          window.location.reload();
        });
      </script>
  </head>
  <body>
  <div class="new-player-container mobile-container">
    <img src="static/logo-bubble.png" class="mobile-header-bubble">
    <label for="name" class="name-header">Enter your name</label>
    <input id="name" class="name-input">
    <button id="submit" class="name-submit button" style="background-image: url(static/next-button.png); background-size: cover;">submit</button>
  </div>
  </body>
  <script>
    const nameInput = document.getElementById('name');
    document.getElementById('submit').addEventListener('click', () => {
      const name = nameInput.value;
      document.cookie = `name=${name}`;
      socket.emit('new-player', name);
      // emitting this event (new-player) and the data being sent is the name from the cookie
    });
  </script>
</html>
