<html>
  <head>
    <link rel="stylesheet" type="text/css" href="public/css/style.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
    <script>
      const socket = io();

      socket.on('reload', () => {
        window.location.reload();
      });
    </script>
  </head>
  <body style="background-image: url(static/<%= image %>); background-position: left top; background-size: cover;">
    <div class="desktop-container">
      <button id="exit" data-event="exit" class="exit-button button"><img src="static/exit-modal.png" style="height: 30px;"></button>
    </div>
    <script>
        const button = document.getElementById('exit').addEventListener('click', () => {
          socket.emit('exit');
        });
    </script>
  </body>
</html>
