<html>
  <head>
    <link rel="stylesheet" type="text/css" href="public/css/style.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
    <script>
      const socket = io();

      socket.on('reload', () => {
        window.location.reload();
      });
    </script>
  </head>
  <body>
    <div>

        <% const resultsByChoice = choices.map(() => []);%>
        <% Object.keys(results).forEach(player => resultsByChoice[results[player]].push(player)); %>

        <%resultsByChoice.forEach((players, choiceNumber) => { %>
          <!-- going to do each once per result -->
          <!-- choiceNumber is index, choices is array of names -->
          <h2><%=choices[choiceNumber]%></h2>
          <%players.forEach(player => {%>
            <div><%= player %></div>
            <!-- = prints it out -->
            <!-- put out one div for each player that voted for this choice -->
            <%});%>
        <%});%>

      <!-- <% Object.keys(results).forEach(player => { %>
        <div>
          <%= player %>:<%= results[player] %>
        </div>
      <% }); %> -->
    </div>
  </body>
</html>
