<html>
  <head>
    <link rel="stylesheet" type="text/css" href="public/css/style.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
    <script>
      const socket = io();

      socket.on('reload', () => {
        window.location.reload();
      });
    </script>
  </head>
  <body style="background-image: url(static/join-background.png); background-position: left top; background-size: cover;">
    <div class="join-container">
      <h1 class="players-joined body-text">Players joined</h1>
      <!-- <button id="exit" data-event="exit" class="exit-button button">Reset</button> -->
      <div class="players">
        <% allPlayers.forEach(player => { %>
          <div class="body-text"><%= player %></div>
        <% }) %>
    </div>
      <!-- <p class="body-text join-text">Join on your phone at agd.emmawootton.com</p>  -->
      <h2 class="instructions body-text">Instructions</h2>
      <p class="body-text start-text">1. Grab a friend! <br><br>2. Join on your phone at agd.emmawootton.com<br><br>3. Once everyone has joined hit <em>"Start"</em></p>
    </div>
    <script>
      const button = document.getElementById('exit').addEventListener('click', () => {
        socket.emit('exit');
      });
    </script>
  </body>
</html>
