/* I coded all of the CSS styling */
@font-face {
    font-family: 'Noteworthy';
    src: url('static/Noteworthy-Bold.ttf');
  }

@font-face {
    font-family: 'Karla';
    src: url('static/Karla/Karla-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Karla';
    src: url('static/Karla/Karla-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Karla';
    src: url('static/Karla/Karla-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Karla';
    src: url('static/Karla/Karla-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

/* global styling */
body{
    margin: 0px !important;
    /* overflow: hidden; */
    background-color: #e9f6ff;
}

.body-text{
    font-family: 'Karla', sans-serif;
    color: #1e3046;
}
.button{
    background-color: transparent;
    border: none;
    margin: 0;
    font-size: 55px;
    background-size: contain;
    background-repeat: no-repeat;
}

h1{
    color: #334259;
    font-size: 55px;
    font-family: 'Karla', sans-serif;
}
/* desktop */
/* story screen */
.desktop-container{
    display: grid;
    height: 100%;
    grid-template-columns: 25% 2fr 45% 10%;
    grid-template-rows: repeat(2, 12.5%) repeat(3, 25%);
    border-color: black;
}

.exit-button{
    grid-column: 4 / 5;
}

.story{
    z-index: 1;
    font-family: 'Noteworthy';
    font-size: 34px;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 5;
}

/* landing screen */

.join-container{
    display: grid;
    height: 100%;
    grid-template-columns: 6% auto 45%;
    grid-template-rows: 1fr 1fr 2fr 10% 20%;
}

.players-joined{
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}

.players{
    grid-column: 3 / 4;
    grid-row: 3 / 4;
}

.instructions{
    grid-column: 2 / 3;
    grid-row: 4 / 5;
}

.join-text{
    grid-column: 2 / 4;
    grid-row: 5 / 6;
}

.start-text{
    grid-column: 2 / 3;
    grid-row: 5 / 6;

}

/* mobile */

.mobile-container{
    display: grid;
    height: 100%;
}

.mobile-nav-button{
    font-family: 'Karla', sans-serif;;
    font-size: 55px;
    grid-row-start: 2;
    grid-row-end: 3;
}

/* new-player screen */

.name-input{
    border: 2px solid #334259;
}

.new-player-container{
    grid-template-rows: 10% 15% 15% 10% 5% 5% 5% 14% 5%;
    grid-template-columns: 10% 15% 1fr 1fr 15% 10%;
}

.mobile-header-bubble{
    grid-column: 2 / 6;
    grid-row: 2 / 4;
    width: 100%;
    height: 100%;
}

.logo-background{
    background-image: url(/static/logo-bubble.png);
    background-size: contain;
    background-repeat: no-repeat;
    grid-column: 2 / 6;
    grid-row: 2 / 4;

}

.name-header{
    grid-row: 5 / 6;
    grid-column: 2 / 5;
    font-size: 55px;
}

/* input[type="text"]:focus{
    font-size: 16px;
} */

.name-input{
    grid-row: 6 / 7;
    grid-column: 2 / 6;
    /* height: 50%; */
    font-size: 34px;
}

.name-submit{
    grid-row: 8 / 9;
    grid-column: 3 / 5;
    background-image: url(/static/next-button.png);
    font-size: 55px;
    margin-top: 10%;
}

.submit-button-image{
    width: 100%;
    height: 100%;
}

/* waiting for players to join screen */

.mobile-waiting-container{
    grid-template-rows: 20% 20% 20% 20%;
    grid-template-columns: 20% 60% 20%;
}

.mobile-waiting{
    grid-row: 5 / 6;
    grid-column: 2 / 6;
    text-align: center;
    font-size: 55px;
}

.mobile-waiting-button{
    grid-row: 3 / 4;
    grid-column: 2 / 3;
    height: 90px;
    width: 250px;
    font-size: 21px;
    color: #334259;
    font-weight: bold;
}

/* look-at-screen */

.mobile-look-container{
    grid-template-columns: 10% 40% 40% 10%;
    grid-template-rows: 85% 1fr 5%;
}

.back-button{
    grid-column-start: 2;
    background-image: url(/static/back-button.png);
}

.next-button{
    grid-column-start: 3;
    background-image: url(/static/next-button.png);
    /* needs a slash for absolute path, relative if not, CSS can't access it because it's inside a folder */
}

/* decision screen */

.radio-label{
    font-family: 'Karla', sans-serif;
    font-size: 55px;
    display: block;
    margin-left: 10px;
    margin-bottom: 20px;
}
.radio{
    /* display: inline-block; */
    /* width: 40px !important;
    height: 40px !important; */
}

.mobile-decision-container{
    grid-template-rows: 35% 40% 1% 9% 5%;
    grid-template-columns: 10% 20% 20% 20% 20% 10%;
}

.decision-submit{
    background-image: url(/static/next-button.png);
    grid-row: 4 / 5;
    grid-column: 4 / 6;
    font-size: 55px;
    text-align: center;
}

button:disabled{
    background-image: url(/static/disabled-button.png); 
}

.radio-div{
    grid-row: 2 / 3;
    grid-column: 2 / 6;
}

/* waiting screen */

.waiting-container{
    display: grid;
    height: 100%;
    grid-template-rows: 10% 15% 15% 10% 5% 5% 5% 14% 5%;
    grid-template-columns: 10% 15% 1fr 1fr 15% 10%;
}

.waiting{
    /* background-image: url(/static/wait-for-players.png);
    background-size: cover; */
    height: 100%;
    width: 100%;
    background-color: #e9f6ff;
}

/* mobile results screen */

.mobile-results-container{
    grid-template-columns: 5% 45% 45% 5%;
    grid-template-rows: 10% 60% 10% 10% 10%;
}

.mobile-results-back{
    grid-column: 2;
    grid-row: 4;
}

.mobile-results-next{
    background-image: url(/static/next-button.png);
    grid-column: 3;
    grid-row: 4;
}

.adjudicate-button{
    grid-column: 2 / 4;
    grid-row: 4;
    background-image: url(/static/adjudicate-button.png);
}

.whats-this{
    grid-row: 5;
    grid-column: 2 / 4;
}

.modal{
    background-color: #fff;
    grid-column: 2 / 4;
    grid-row: 2 / 3;
    margin: 0 10px 0 10px;
    visibility: hidden;
    padding: 10%;
    box-shadow: 8px 8px 0px 2px #d0e4f4;
}

.adjudicator-explainer{
    font-size: 55px;
}

.background-overlay{
    visibility: hidden;
    width: 100%;
    height: 100%;
    background-color: black;
}

.visible{
    visibility: visible;
}

/* desktop results screen */

.results-container{
    /* display: grid;
    height: 100%; */
    /* grid-template-columns: 10% 1fr 10%; */
    margin: 0 auto;
    display: block;
    width: 50%;
    margin-top: 19%;
    display: flex;
    /* flex-direction: row; */
}

/* .choice-print{
    float: left;
} */

.choice-title{
    width: 1000px;
    height: 100px;
    padding: 20px;
    /* margin-left: 20px; */
    /* margin: 20px 0 0 20px; */
    background-color: #ffffff;
    box-shadow: 6px 6px 0px 1px #d0e4f4;
    /* float: left; */
}

.choice-result{
    /* width: 200px; */
    /* height: 200px; */
    /* width: 150px; */
    /* margin: 20px 0 0 0; */
    margin: 0 auto;
    /* padding: 20px; */
}

.choice-result-container{
    width: 1000px;
    /* background-color: #d0e4f4; */
    position: relative;
    left: -160;
    top: 200;
}