@font-face {
    font-family: 'Noteworthy';
    src: url('static/Noteworthy-Bold.ttf');
  }

@font-face {
    font-family: 'Karla';
    src: url('static/Karla/Karla-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Karla';
    src: url('static/Karla/Karla-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Karla';
    src: url('static/Karla/Karla-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Karla';
    src: url('static/Karla/Karla-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

/* global styling */
body{
    margin: 0px !important;
    overflow: none;
    background-color: #e9f6ff;
}

.body-text{
    font-family: 'Karla';
}
.button{
    background-color: transparent;
    border: none;
}

h1{
    color: #334259;
}
/* desktop */
/* story screen */
.desktop-container{
    display: grid;
    height: 100%;
    grid-template-columns: 20% 2fr 48% 10%;
    grid-template-rows: repeat(2, 12.5%) repeat(3, 25%);
    border-color: black;
}

.exit-button{
    grid-column: 4 / 5;
}

.story{
    z-index: 1;
    font-family: 'Noteworthy';
    font-size: 21px;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 5;
}

/* landing screen */

.join-container{
    display: grid;
    height: 100%;
    grid-template-columns: 6% auto 45%;
    grid-template-rows: 1fr 1fr 2fr 10% 20%;
}

.players-joined{
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}

.players{
    grid-column: 3 / 4;
    grid-row: 3 / 4;
}

.instructions{
    grid-column: 2 / 3;
    grid-row: 4 / 5;
}

.join-text{
    grid-column: 2 / 4;
    grid-row: 5 / 6;
}

.start-text{
    grid-column: 2 / 3;
    grid-row: 5 / 6;

}

/* mobile */

.mobile-container{
    display: grid;
    height: 100%;
    grid-template-columns: 50% 50%;
    grid-template-rows: 90% 1fr;
}

.mobile-nav-button{
    font-family: 'Karla';
    font-size: 21px;
    grid-row-start: 2;
    grid-row-end: 3;
}

/* new-player screen */

.name-input{
    border: 2px solid #334259;
}

.new-player-container{
    display: grid;
    height: 100%;
    grid-template-rows: repeat(5, 20%);
    grid-template-columns: 10% auto 10%;
}

.name-header{
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}

.name-input{
    grid-row: 3 / 4;
    grid-column: 2 / 3;
    height: 30%;
}

.name-submit{
    grid-row: 4 / 5;
    grid-column: 2 / 3;
}

/* waiting for players to join screen */

.mobile-waiting-container{
    display: grid;
    height: 100%;
    grid-template-rows: 20% 20% 20% 20%;
    grid-template-columns: 20% 60% 20%;
}

.mobile-waiting{
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}

.mobile-waiting-button{
    grid-row: 3 / 4;
    grid-column: 2 / 3;
    height: 90px;
    width: 250px;
    font-size: 21px;
    color: #334259;
    font-weight: bold;
}

/* look-at-screen */

.back-button{
}

.next-button{
}

/* decision screen */

.radio-label{
    font-family: 'Karla';
    font-size: 21px;
}



